<div style="text-align: center">
    <h3>{{message}}</h3>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-12">
            <h4 class = "mt-3 mb-3">Registeration Form</h4>
            <form>
                <fieldset>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input required type="text" [(ngModel)]="user.username" name="username" id="username"
                            class="form-control phone" maxlength="28" placeholder="Enter username" />
                    </div>

                    <div class="form-group">
                        <label for="phoneNumber">phoneNumber</label>
                        <input required type="text" [(ngModel)]="user.phoneNumber" name="phoneNumber" id="phoneNumber"
                            class="form-control phone" maxlength="10" placeholder="Enter phoneNumber" />
                    </div>


                    <div class="form-group">
                        <label for="email">Email</label>
                        <input class="form-control" required type="text" [(ngModel)]="user.email" name="email"
                            id="email" placeholder="Enter your Email" />
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input class="form-control" required type="text" [(ngModel)]="user.password" name="password"
                            id="password" placeholder="Enter your password" />
                    </div>

                    <div class="form-group">
                        <input class="btn btn-success" type="submit" name="submit_reg" value="Register" (click)="registerNow()">
                    </div>
                </fieldset>
            </form>
        </div>

    </div>
</div>